@model PersonalWebsite.Models.ProjectModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br />
        @Html.LabelFor(model => model.ProjectTitle):
        @Html.EditorFor(model => model.ProjectTitle, new { htmlAttributes = new { style = "width:50%" } })
        <br /><br />
        @Html.LabelFor(model => model.ProjectDescription):
        @Html.EditorFor(model => model.ProjectDescription)
        <br /><br />
        @if (String.IsNullOrEmpty(Model.ProjectIcon))
        {
            <img src="Model.ProjectIcon" />
        }
        @Html.LabelFor(model => model.ProjectIcon)
        @Html.EditorFor(model => model.ProjectIcon)
        <br /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
