@model IEnumerable<PersonalWebsite.Models.ProjectModel>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Projects", new { @class="btn-xl js-scroll-trigger" })
</p>
<table class="table">
    <tr>
        <th class="projectsTitleWidth">Name</th>
        <th class="projectsIconWidth">Icon</th>
        <th>Description</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (!String.IsNullOrEmpty(item.ProjectTitle))
            {
                @Html.Label(item.ProjectTitle, item.ProjectTitle, new { @class = "projectsTitleWidth" });
            }
        </td>
        <td>
            @if (!String.IsNullOrEmpty(item.ProjectIcon))
            {
                <img class="projectsIconWidth" src="@item.ProjectIcon" />
            }
        </td>
        <td>
            @if(!String.IsNullOrEmpty(item.ProjectDescription))
            {
                @Html.Label(item.ProjectDescription, item.ProjectDescription, new { @class = "projectsDescWidth" });
            }
            @if (Request.IsAuthenticated)
            {
                <br/>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                @Html.Raw(" | ")
            }
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            
        </td>
        
    </tr>
}

</table>
